body {
    padding-top: 65px;
}

#navbar_footer, #navbar_main {
    background-color: black;
}

.board {
    border-radius: 5px;
    background-color: #003399;
    transition: background-color 0.5s ease;
    margin: 10px;
    display: block;
    max-height: 100px;
    height: 100px;
    max-width: 300px;
    width: 300px;
    overflow: hidden;
}

.board_title, #navbar_brand {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    font-weight: bold;
    color: white;
}

.circle {
    transition: background-color 0.5s ease;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: #003399;
    display: inline-table;
    vertical-align: middle;
}

.circle_element {
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: 40px;
}

.active {
    background-color: #002266;
}

