{% extends "layout.html" %}
{% block content %}

<div class="row">
    <div class="col-sm-4">
        <div class="card-overlay">
            <div class="white-text text-center">
                <div class="card-block">
                    <h3>Project title</h3>
                    <p>Loreoriosam, voluptatem, optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos. Odit
                        sed qui, dolorum!.</p>

                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4"></div>
</div>
{% endblock %}