{% extends 'layout.html' %} {% block content %}



<h1 class=boardCardsTitle>{{ title }}</h1>

<section class=sectioner>
    <div class="status_header">New</div>
    <ul id="new" class="status_list">
    </ul>
</section>

<section class=sectioner>
    <div class="status_header">In Progress</div>
    <ul id="in_progress" class="status_list">
    </ul>
</section>
<section class=sectioner>
    <div class="status_header">Review</div>
    <ul id="review" class="status_list">
    </ul>
</section>
<section class=sectioner>
    <div class="status_header">Done</div>
    <ul id="done" class="status_list">
    </ul>
</section>

<div class="col-sm-10"></div>
<div class="col-sm-1">
    <button id="modal_button" type="button" class="btn" data-toggle="modal" data-target="#create_card_modal">
        <div class="circle">
            <div class="circle_element">+</div>
        </div>
    </button>
</div>
<div class="col-sm-1"></div>

<!-- Modal -->
<div id="create_card_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add new card</h4>
            </div>
            <div class="modal-body">
                <label>Card title:</label>
                <input required minlength="1" id="new_card_title" type="text" maxlength="70" placeholder="Title">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="save_card_button" type="button" class="btn btn-info" data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>



{% endblock %} {% block scripts %}
<script type="text/javascript" src="/static/card_generator_script.js"></script>
{% endblock %}